{% extends 'app.html.twig' %}

{% block title %}Inscription réussie
{% endblock %}

{% block body_content %}

		<div class="containerSuc">
        <div class="card">
            <h1>Inscription réussie !</h1>
            <p class="text-center">Votre inscription a été effectuée avec succès.</p>
            <div class="container text-center mt-3">
                <div class="row">
                    <div class="col">
                        <p>Cliquez pour vous connecter</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn2" onclick="window.location.href='{{ path('app_login') }}'">Se connecter</button>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div style="height: 84px; background-color: transparent;"></div>

	{% endblock %}
