{% extends 'app.html.twig' %}

{% block title %}Conditions générales de ventes
{% endblock %}

{% block body_content %}


<a class="returnHomeFooter" href="{{ path('app') }}">Retour</a>


    <div class="containerUsage">

    <h1>CONDITIONS GENERALES DE VENTES</h1>
<div class="cgvCenter">
    <img src="/assets/images/1.JPG" alt="cgv1">
    <img src="/assets/images/2.JPG" alt="cgv2">
    <img src="/assets/images/3.JPG" alt="cgv3">
    <img src="/assets/images/4.JPG" alt="cgv4">
    <img src="/assets/images/5.JPG" alt="cgv5">
    <img src="/assets/images/6.JPG" alt="cgv6">
    <img src="/assets/images/7.JPG" alt="cgv7">
    <img src="/assets/images/8.JPG" alt="cgv8">
    <img src="/assets/images/9.JPG" alt="cgv9">
    <img src="/assets/images/10.JPG" alt="cgv10">
</div>
    </div>

{% endblock %}

