{% extends 'app.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body_content %}

<a class="returnHomeFooter" href="{{ path('app') }}">Retour</a>

    <div class="containerUsage">

    <h1>MENTIONS LEGALES</h1>



    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Dream Stones l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

    <h3>Edition du site</h3>

    <p>Le présent site, accessible à l’URL http://dreamstonesproject.test/controllers/controller-home.php (le « Site »), est édité par :

        Linda Poirier-Halley, résidant 69 rue de la science 27100 Val de Reuil, de nationalité Française (France), né(e) le 02/11/1979,
    </p>

    <h3>Hébergement
    </h3>

    <p>Le Site est hébergé par la société github, situé 75000 Paris, (contact téléphonique ou email : +33600000000).
    </p>

    <h3>Directeur de publication</h3>

    <p>
        Le Directeur de la publication du Site est Hélène Poirier-Halley.
    </p>

    <h3>Nous contacter</h3>
    <p>Par téléphone : +33783840082</p>
    <p>Par email : Linda.poirier-halley27@outlook.fr</p>
    <p>Par courrier : 69 rue de la science 27100 Val de Reuil</p>

    <h3>Données personnelles</h3>

    <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>

    <p>Génération des mentions légales par Legalstart.</p>

    </div>

 {% endblock %}

