{% extends 'app.html.twig' %}

{% block title %}Usages des pierres
{% endblock %}

{% block body_content %}
<a class="returnHomeFooter" href="{{ path('app') }}">Retour</a>

    <div class="containerUsage">
        <h1 class="tittleUsage">Usage des pierres</h1>
        <p>ATTENTION : Les informations descriptives sur ce site ont été sélectionnées dans la littérature existante aussi bien française qu’étrangère, elles ont été adaptées pour correspondre à notre éthique et à une compréhension relativement facile. Elles n’ont pas pour but de remplacer un diagnostic médical. Les minéraux ne doivent pas être ingérés. Dream Stones décline toute responsabilité du mauvais usage des minéraux et de leur possible toxicité.

            “Ces informations ne peuvent remplacer les conseils de votre médecin ni ses remèdes.”</p>

    </div>

    <div style="height: 133px; background-color: transparent;"></div>

{% endblock %}

