{% extends 'app.html.twig' %}

{% block title %}Accès interdit
{% endblock %}

{% block body_content %}

    <div class="cardSuccess text-center">
        <h1>Accès interdit</h1>
        <p>Désolé, vous n'avez pas l'autorisation d'accéder à cette page.</p>
    </div>

    <div style="height: 200px; background-color: transparent;"></div>

   {% endblock %}
