{% extends 'app.html.twig' %}

{% block title %}Page non trouvée
{% endblock %}

{% block body_content %}

    <div class="cardSuccess text-center">
        <h1>Page non trouvée</h1>
        <p>Désolé, la page que vous cherchez est introuvable.</p>
    </div>

    <div style="height: 128px; background-color: transparent;"></div>

  {% endblock %}
