@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
/*   font-family: "Macondo", cursive; */

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/*   font-family: "Varela Round", sans-serif; */

/* CSS GENERALES DES PAGES */

h1 {
  font-family: "Macondo", cursive;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-family: "Macondo", cursive;
  text-align: center;
  margin-top: 1rem;
}

p {
  font-family: "Varela Round", sans-serif;
}

/* PAGE HOME */

/* NAVBAR */

.navbar .form-inline {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.navbar .navbar-nav {
  flex-grow: 1;
  /* les éléments prennent autant d'espace possible dans la navbar */
}

.navbar .form-inline {
  flex-grow: 0;
  margin-left: auto;
  padding: 1rem;
}

#top > nav > form > button {
  margin-right: 0.5rem;
}

.navbar {
  background-color: #0b533d;
}

#navbarsExample11 > ul > li > a {
  color: white;
  font-family: "Varela Round", sans-serif;
}

#navbarsExample11 > ul > li.nav-item.dropdown > ul {
  background-color: #0b533d;
}

#navbarsExample11 > ul > li > ul > li > a:hover {
  background-color: #24916a;
}

#navbarsExample11 > ul > li.nav-item.dropdown > ul > li > a {
  color: white;
  font-family: "Varela Round", sans-serif;
}

#navbarsExample11 > a {
  font-family: "Macondo", cursive;
  font-size: 2rem;
}

/* CORPS DE LA PAGE HOME */

.hidden {
  display: none;
}

body > div.container4 > h3 {
  margin-top: 1rem;
}

/* CARROUSEL ACCUEIL */

.carousel-item img {
  display: block;
  margin: 0 auto;
}

.carousel-img {
  width: 40%;
  height: 25rem;
  object-fit: cover; /* conserver le ratio d'aspect sans déformation */
}

h3 {
  font-family: "Macondo", cursive;
  text-align: center;
}

body > div.container.card-container > div > div > div > div > h6 {
  font-family: "Macondo", cursive;
  text-decoration: underline;
}

h5 {
  font-family: "Macondo", cursive;
}
.carousel-text {
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  padding: 2rem;
}

.card-container {
  margin-bottom: 4rem;
}

body > div.container.card-container > div {
  border-radius: 20px;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 14%,
    rgba(91, 189, 158, 1) 60%
  );
  /* ombrage card */
  -webkit-box-shadow: 10px 15px 5px 3px #6eb59d;
  -moz-box-shadow: 10px 15px 5px 3px #6eb59d;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#6eb59d', Positive='true');
  zoom: 1;
  box-shadow: 10px 15px 5px 3px #6eb59d;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* contour carrousel */
.outer-border {
  border: 2px solid #239670;
  height: 99%;
  width: 98%;
  padding: 0.4rem;
  margin: 0 auto;
}

.mid-border {
  border: 6px solid #239670;
  height: 100%;
  width: 100%;
  padding: 0.4rem;
  margin: auto;
}

.inner-border {
  position: relative;
  border: 2px solid #24916a;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* PANIER */

.product img {
  width: 5rem;
  height: auto;
}

.quantity-input {
  width: 3.2rem;
}

.remove-btn {
  font-family: "Varela Round", sans-serif;
  padding: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: rgb(185, 90, 90);
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.remove-btn:hover {
  background-color: rgb(168, 109, 109);
}

.img-fluid {
  max-width: 5rem;
}

#offcanvasExample {
  background-color: #0b533d;
}

.btn2 {
  background-color: #24916a;
  font-family: "Varela Round", sans-serif;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btn2:hover {
  background-color: #57bc9a;
}

.pan {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-weight: bolder;
}

#cart {
  overflow-y: auto;
}

#cart::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #0b533d;
  border: 2px solid #24916a;
}

#cart::-webkit-scrollbar-thumb {
  background-color: #0b533d;
}

/* SCROLLBAR PERSONNALISEE */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(74, 168, 85, 0.3);
  background-color: #24916a;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0b533d;
  border: 2px solid #24916a;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(94, 92, 92, 0.4) 70%,
    transparent,
    transparent
  );
}

/* FOOTER */

.returnHomeFooter {
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
  width: 8rem;
  padding: 0.3rem 0.2rem;
  font-size: 0.8rem;
  background-color: #0b533d;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #0b533d;
  color: white;
  font-family: "Macondo", cursive;
  text-align: center;
}

body > footer > footer > div.container > section > div > div > h6 > a {
  text-decoration: none;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0;
  padding-right: 0;
}

body > footer > div > footer > div.text-center.p-3 {
  color: white;
  font-family: "Varela Round", sans-serif;
}

.containerUsage {
  align-items: center;
  padding: 1rem 15rem 1rem 15rem;
  text-align: justify;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 14%,
    rgba(91, 189, 158, 1) 60%
  );
  width: 80rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cgvCenter {
  text-align: center;
}

.cgvCenter img {
  display: block;
  margin: 0 auto;
}

.tittleUsage {
  text-align: center;
}

footer {
  font-family: "Macondo", cursive;
}

p {
  font-family: "Varela Round", sans-serif;
}

/* PAGE CONNEXION */

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div.container > div {
  margin-top: 4rem;
}

#inputEmail {
  margin-top: 1rem;
}

#inputPassword {
  margin-top: 1rem;
}

body > div.container > div > form > div.text-center > button {
  margin-top: 1rem;
}

/* PAGE PROFIL */

.containerProf {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.highlight {
  color: #0b533d;
  font-weight: bold;
  text-decoration: underline;
}

.containerBtn {
  margin: 1rem;
  margin-bottom: 0;
}

.card {
  width: 50rem;
  border-radius: 20px;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 14%,
    rgba(91, 189, 158, 1) 60%
  );
  /* ombrage card */
  -webkit-box-shadow: 10px 15px 5px 3px #6eb59d;
  -moz-box-shadow: 10px 15px 5px 3px #6eb59d;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#6eb59d', Positive='true');
  zoom: 1;
  box-shadow: 10px 15px 5px 3px #6eb59d;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 4rem;
}

.card-body {
  margin: auto;
}

.btn-group .btn-spacing {
  margin-right: 10px;
}

/* PAGE INSCRIPTION */


.required-label {
  color: red;
  position: absolute;
  left: 8rem;
}

.password-conditions {
  display: none;
}

.password-conditions.visible {
  display: block;
}


.password-conditions {
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  max-width: 20rem;
}

.condition {
  margin-bottom: 0.rem;
}

.condition-passed {
  color: #378713;
  font-weight: bold;
}

.condition-not-passed {
  color: red;
}

#email-error {
  width: 419.98px;
  height: 15px;
}
.containerReg {
  margin-top: 4rem;
}

body > div.containerReg > div > div > form > div > div > label {
  color: #0b533d;
  font-weight: bold;
  text-decoration: underline;
}

#registration_name,
#registration_firstname,
#registration_pseudo,
#registration_email,
#registration_password_first,
#registration_streetName,
#registration_additionalAddress,
#registration_zipcode,
#registration_city,
#registration_phone,
#registration_password_second {
  width: 30rem;
}

/* PAGE SUCCESS INSCRIPTION */

.containerSuc {
  margin-top: 8rem;
}

body > div.containerSuc > div > div > div:nth-child(2) > div > button {
  margin-bottom: 1rem;
}

body > div.containerSuc > div > p,
body > div.containerSuc > div > div > div:nth-child(1) > div > p {
  color: #0b533d;
  font-size: 1.2rem;
}

/* PAGE PIERRES PAR CATEGORIES */

.cardStones {
  border-radius: 20px;
  width: 18rem;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 14%,
    rgba(91, 189, 158, 1) 60%
  );
  zoom: 1;
  border-radius: 20px;
  margin-bottom: 2.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Limite le nombre de cards à 4 par ligne */
.col-md-4 {
  flex: 1 0 25%;
  max-width: 25%;
}

.card-image {
  text-align: center;
}

.card-image img {
  border-radius: 10px;
  margin: 1rem;
  width: 15rem;
  height: 15rem;
}

.card-details > p {
  color: hsl(162, 77%, 18%);
  margin-left: 1rem;
  font-weight: bold;
}

.card-details > div > button {
  margin: 1rem;
}

/* PAGE VOIR PLUS */

.card-image {
  position: relative;
}

.btn-view-more {
  position: absolute;
  bottom: 1.25rem;
  right: 2rem;
  background-color: #24916a;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* transition d'animation*/
  transition: background-color 0.3s;
}

.btn-view-more i {
  font-size: 1.2rem;
}

.btn-view-more:hover {
  background-color: #1e7e59;
}

body > div.card > div.card-image > img {
  border-radius: 10px;
  margin: 1rem;
  width: 20rem;
  height: 20rem;
}

/* PAGE CONFIRMATION COMMANDE */

.product {
  padding-top: 1rem; 
}

.product p {
  padding-bottom: 1rem; 
}

.product:not(.first-item) {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
}

#cartTotal {
  font-weight: bold;
}

.canvas {
  text-align: left;
  margin-left: 1rem;
  text-decoration: underline;
  color: #0b533d;
  font-weight: bold;
}

.canvas1 {
  text-align: left;
  margin-left: 1rem;
}

.canvas2 {
  text-align: left;
  margin-left: 1.9rem;
}

.payment {
  width: 20rem;
}

.orderVal {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.label {
  color: #0b533d;
  margin-left: 1.9rem;
  font-weight: bold;
  text-decoration: underline;
}

/* PAGE VALIDATION COMMANDE */

.cardSuccess {
  width: 50rem;
  border-radius: 20px;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 14%,
    rgba(91, 189, 158, 1) 60%
  );
  /* ombrage card */
  -webkit-box-shadow: 10px 15px 5px 3px #6eb59d;
  -moz-box-shadow: 10px 15px 5px 3px #6eb59d;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#6eb59d', Positive='true');
  zoom: 1;
  box-shadow: 10px 15px 5px 3px #6eb59d;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-top: 12.1rem;
}

/* PAGE HISTORIQUE COMMANDE */

table {
  margin: 0 auto;
  margin-bottom: 2rem;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: solid 1px black;
}

th {
  color: white;
  background-color: #0b533d;
}

td {
  background-color: #6eb59d;
}

/* RESPONSIVE */

/* Pour les écrans de taille moyenne */
@media (max-width: 992px) {

  .cardSuccess {
    width: 100%;
  }

  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .containerProf {
    max-width: 768px;
  }

  .carousel-img {
    width: 70%;
    height: auto;
  }

  .carousel-text {
    padding: 1rem;
  }

  .container.card-container {
    width: 80%;
  }

  th,
  td {
    padding: 6px;
  }
}

/* Pour les écrans de petite taille */
@media (max-width: 768px) {
  #registration_name,
  #registration_firstname,
  #registration_pseudo,
  #registration_email,
  #registration_password_first,
  #registration_streetName,
  #registration_additionalAddress,
  #registration_zipcode,
  #registration_city,
  #registration_phone,
  #registration_password_second {
    width: 100%;
  }

  .card-image img {
    width: 90%;
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    width: 90%;
  }

  .carousel-img {
    width: 90%;
    height: auto;
  }

  .carousel-text {
    padding: 0.5rem;
  }

  .container.card-container {
    width: 90%;
  }

  .container4 {
    padding: 1rem;
  }

  th,
  td {
    padding: 4px;
    font-size: 0.9em;
  }

  .cardSuccess {
    width: 100%;
  }
}

/* Pour les écrans de très petite taille */
@media (max-width: 576px) {
  .product img {
    width: 3rem;
  }

  .quantity-input {
    width: 2rem;
  }

  .remove-btn {
    font-size: 0.7rem;
    padding: 0.1rem;
  }

  .btn2 {
    font-size: 0.9rem;
    padding: 0.1rem;
  }

  #registration_name,
  #registration_firstname,
  #registration_pseudo,
  #registration_email,
  #registration_password_first,
  #registration_streetName,
  #registration_additionalAddress,
  #registration_zipcode,
  #registration_city,
  #registration_phone,
  #registration_password_second {
    width: 100%;
  }

  .card-image img {
    width: 90%;
  }

  .card {
    width: 100%;
    border-radius: 10px;
  }

  .containerProf {
    max-width: 100%;
    padding: 0 10px;
  }

  .card-body {
    padding: 15px;
  }

  .carousel-img {
    width: 100%;
  }

  .container4 {
    padding: 0.5rem;
  }

  .navbar .form-inline {
    margin-top: 0;
  }

  th,
  td {
    padding: 2px;
    font-size: 0.8em;
  }

  .btn-delete {
    font-size: 0.6em;
    padding: 2px 6px;
  }

  .cardSuccess {
    width: 100%;
  }

  .containerUsage {
    width: 100%;
    padding: 0;
  }

  .cgvCenter img {
    display: block;
    margin: 0 auto;
    width: -webkit-fill-available;
}
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .card-image img {
    width: 90%;
  }
}

/* Pour les écrans mini comme l'iPhone 5  */
@media (max-width: 320px) {
  .product img {
    width: 2.5rem;
  }

  .quantity-input {
    width: 1.8rem;
  }

  .remove-btn {
    font-size: 0.6rem;
    padding: 0.05rem;
  }

  .btn2 {
    font-size: 0.8rem;
    padding: 0.05rem;
  }

  th,
  td {
    padding: 1px;
    font-size: 0.6em;
  }

  .btn-delete {
    font-size: 0.6em;
    padding: 2px 6px;
  }
}
