{% extends 'app.html.twig' %}

{% block title %}Commande réussie
{% endblock %}

{% block body_content %}

        <div class="cardSuccess text-center">

    <h1>Commande réussie !</h1>
    <p>Votre commande a été prise en compte avec succès.</p>
</div>

    <div style="height: 200px; background-color: transparent;"></div>
{% endblock %}



	{% block specific_script %}

    <script>
        // Efface les données du panier de la session
        function clearCartFromSession() {
            sessionStorage.removeItem('cartData');
        }

        // Appele la fonction pour vider le panier lorsque la page est chargée
        window.addEventListener('load', function() {
            clearCartFromSession();
        });
    </script>

{% endblock %}


